<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Framework Design" parallel="none">

	<listeners>

		<listener class-name="com.amazon.qa.utilities.SuitListener"></listener>

	</listeners>


	<test name="Test Automation">

		<parameter name="browserName" value="chrome"></parameter>

		<classes>
			<class name="com.amazon.qa.tests.HomePageTest" />
			<class name="com.amazon.qa.tests.CasualShirtPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
